/*
Error: Invalid CSS after "italic": expected expression (e.g. 1px, bold), was ";"
        on line 1 of main.sass

1: $h1-style: italic;
2: $h1-color: #333300;
3: 
4: 
5: h1 {
6:     font-style: $h1-style;

Backtrace:
main.sass:1
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1179:in `expected'
/usr/lib/ruby/vendor_ruby/sass/script/lexer.rb:227:in `expected!'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:702:in `assert_done'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:64:in `parse'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:223:in `parse'
/usr/lib/ruby/vendor_ruby/sass/script.rb:27:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:1145:in `parse_script'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:751:in `parse_variable'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:639:in `parse_line'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:533:in `build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:552:in `block in append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:551:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:551:in `append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:410:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"italic\": expected expression (e.g. 1px, bold), was \";\"\A         on line 1 of main.sass\A \A 1: $h1-style: italic;\A 2: $h1-color: #333300;\A 3: \A 4: \A 5: h1 {\A 6:     font-style: $h1-style;"; }
