body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

a.active {
  border-bottom: 2px solid;
  border-color: #e78ac3; }

.feature-color {
  fill: #e78ac3; }

.mycolor {
  color: #e78ac3; }

/*# sourceMappingURL=mystyle.css.map */
